{% extends 'base.html' %}

{% block content %}
    <h1>Finstagram Shop!</h1>
    <!-- <a href="/shop/sell" class="btn btn-primary">Sell Merch</a> -->
    <div class="row">
        {% for m in merch %}
            <div class="card text-decoration-none text-dark" style="width: 18rem;">
                <img src="{{ m.img_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Item {{ m.id }}</h5>
                <p class="card-text">Name: {{ m.name }}</p>
                <p class="card-text">Price: ${{ m.price }}</p>
                <p class="card-text">Description: {{ m.description }}</p>
                <a href="{{ url_for('shop.addToCart', name=m.name) }}" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}